<a href="https://colab.research.google.com/github/Kaiwen-Robot/KLTeam-Titanic/blob/lee-dev/KLTeam_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [2]:
import os
path="/content/gdrive/My Drive/KLTeam_Titanic"
os.chdir(path)

In [3]:
import pandas as pd
data_train = pd.read_csv('titanic_datasets/train.csv')
data_test = pd.read_csv('titanic_datasets/test.csv')

In [4]:
data_train.head(5)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [9]:
unknown_factors_train = pd.isna(data_train).sum()
print('The unknown factors in the training set are \n {}'.format(unknown_factors_train))

The unknown factors in the training set are
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64